<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      header{
        font: arial;
      }
    </style>

    <meta charset="utf-8">
    <title>{% block title %}SJSU CJapp{% endblock %}</title>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
        <h1 color: "white">{{user.first_name}} {{user.last_name}}'s Profile</h1>
      {% else %}
        <h1>Welcome to SJSU CJapp</h1>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
