{% extends 'registration/base.html' %}

{% block content %}
  <html>
    {% if not request.user.is_authenticated %}
    <a href="login/">Login</a>
    <br>
    <a href="signup/">Signup</a>
    {% else %}
      {% if user.profile.is_judge %}
        <a href="competitions/">View Competitions</a>
        <br>
        <a href="create_competition/">Create a new Competition</a>
        <br>
        <a href ="logout/">Logout</a>
        <br>
        {% else %}
        <a href="competitions/">View Competitions</a>
        <br>
        <a href ="logout/">Logout</a>
        <br>
        {% endif %}
    {% endif %}
  </html>
{% endblock %}
